fastapi
uvicorn
sqlalchemy
asyncpg
pydantic
pydantic-settings
redis
celery
alembic
pytest
pytest-asyncio
httpx
passlib
python-jose
aiosqlite
python-multipart
pyyaml
starlette-admin
psycopg2-binary
itsdangerous
